.btn {
    background-color: map-get($map: $color, $key: 'accent_color');
    color: map-get($map: $color, $key: 'background_color');
    border: none;
    border-radius: map-get($map: $radius, $key: 'btn_radius');
    padding: 10px 20px;
    cursor: pointer;
}

.head_text {
    font-size: 32px;
    font-weight: 800;

}

.decs_text {
    font-size: 14px;
}